@font-face {
    font-family: "iconfont"; /* Project id 2604084 */
    src: url('//at.alicdn.com/t/font_2604084_fh638f3m5rm.woff2?t=1623256482370') format('woff2'),
         url('//at.alicdn.com/t/font_2604084_fh638f3m5rm.woff?t=1623256482370') format('woff'),
         url('//at.alicdn.com/t/font_2604084_fh638f3m5rm.ttf?t=1623256482370') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    /* font-size: 16px; */
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-bilibili:before {
    content: "\e601";
  }
  